################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EventSourcing
/EventSourcing.API/bin/Debug/net9.0
/EventSourcing.API/obj
/EventSourcing.Application/bin/Debug/net9.0
/EventSourcing.Application/obj
/EventSourcing.API/EventSourcing.API.csproj.user
/EventSourcing.Domain/bin/Debug/net9.0
/EventSourcing.Domain/obj
/EventSourcing.Infrastructure/bin/Debug/net9.0
/EventSourcing.Infrastructure/obj
/.vs/ProjectEvaluation
/EventSourcing.Tests/bin/Debug/net9.0
/EventSourcing.Tests/obj
/EventSourcing.Tests/obj/Debug/net9.0/ref/EventSourcing.Tests.dll
